.hometxt,
.uk-article-meta,
.uk-slidenav .uk-slidenav-contrast .uk-slidenav-previous .uk-hidden-touch {
    display: none
}

.splash:before,
.uk-search:before {
    content: ""
}
body:lang(ar) h1, 
body:lang(ar) h2, 
body:lang(ar) h3, 
body:lang(ar) h4, 
body:lang(ar) h5,
body:lang(ar) h6,
body:lang(ar) span, 
body:lang(ar) p, 
body:lang(ar) a, 
body:lang(ar) strong, 
body:lang(ar) div {
    font-family: Times new roman !important;
}
p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
    margin: 10px 0px 0px 0px;
}
ul, ol {
    padding-left: 18px;
    margin-top: 15px;
}
.qtranxs_text.qtranxs_text_en span {
    font-family: Lato-thin !important;
}
:lang(ar).arbox1-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox1-text{
    color: #027733;
    clear: both;
    font-size: 30px;
}
:lang(ar).arbox2-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 0px;
}
:lang(ar).arbox2-text{
    color: #027733;
    clear: both;
    line-height: 30px;
    padding-left: 15px;
    font-size: 30px;
}
:lang(ar).arbox3-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox3-text{
    color: #027733;
    clear: both;
    font-size: 30px;
}
:lang(ar).arbox4-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox4-text{
    color: #027733;
    clear: both;
    font-size: 30px;
}
li.lang-ar {
    list-style: none;    
}
.qtranxs_text.qtranxs_text_ar {
    color: #000;
    text-decoration: none;
}
.qtranxs_text.qtranxs_text_en {    
    color: #000;
    margin-left: 78px;
    text-decoration: none;
}
.lang-en {
    list-style: none;    
}
.service-page-image .uk-panel-teaser {    
    background-color: white;
    text-align: center;    
}
:lang(ar).service-page-image .uk-panel-teaser {    
    background-color: white;
    text-align: center;    
}
.service-page-image {
    margin-bottom: 35px;
    padding-left: 20%;
}
:lang(ar).service-page-image {
    margin-bottom: 35px;
    padding-right: 20%;
}
.service-page-content {
    padding: 10px;
    text-align: justify !important;
}
:lang(ar).service-page-content {
    padding: 10px;
    text-align: justify !important;
}
.service-page-content.uk-panel-teaser {
    padding: 20px;
    height: 160px;
}
:lang(ar).service-page-content.uk-panel-teaser {
    padding: 20px;
    height: 120px;
    font-size: 13px;
}
@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Semibold;
    src: url(../fonts/Lato-Semibold.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Hairline;
    src: url(../fonts/Lato-Hairline.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Thin;
    src: url(../fonts/Lato-Thin.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-LightItalic;
    src: url(../fonts/Lato-LightItalic.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-HairlineItalic;
    src: url(../fonts/Lato-HairlineItalic.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato-BlackItalic;
    src: url(../fonts/Lato-BlackItalic.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Constantia;
    src: url(../fonts/Constantia.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Tahoma;
    font-weight: 400;
    font-style: normal
}

a:hover {
    color: #008621
}

.uk-margin-top {
    margin-top: 10px!important
}

.tm-footer,
.tm-headerbar,
.tm-navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 20px
}

.tm-headerbar {
    background: #fff;
    margin-top: 0;
    height: 10px
}

.uk-icon-button {
    background: #55595d;
    color: #959d9f;
    font-size: 22px
}

.uk-icon-button:focus,
.uk-icon-button:hover {
    background-color: #008621;
    color: #fff;
    outline: 0
}

.uk-navbar {
    background-image: url(../images/arabicmenubkground.png);
    padding-left: 15px;
    margin-top: -10px;
    margin-right: 3px
}

:lang(ar).uk-navbar {
    background-image: url(../images/menubkground.png);
    padding-right: 25px;
    margin-top: -10px;
    margin-left: 0
}
:lang(ar).island img {
    margin-top: 5px;
    margin-bottom: 10px;
}
:lang(ar).island
    {
        padding: 93px 20px 20px;
    }
.uk-navbar-nav,
:lang(ar) .uk-navbar-nav {
    float: left;
    margin-left: 125px;
    margin-top: -56px
}

.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
    background-color: transparent;
    color: #FFF;
    outline: 0
}

.uk-navbar-nav>li.uk-active>a {
    background-color: transparent;
    color: #FFF
}

.uk-navbar-nav>li>a {
    font-family: Lato-Light;
    font-size: 18px;
    color: #353839;
    font-weight: 700
}

:lang(ar) .uk-navbar-nav>li>a {
    direction: rtl
}

.uk-navbar-flip {
    float: left;
    width: 19%;
    margin-left: 148px;
}

.uk-navbar-brand,
.uk-navbar-content,
.uk-navbar-toggle {
    height: auto;
    right: 0;
    float: left;
    padding: 0;
    margin-left: -15px !important;
}

.tm-top-a .uk-panel-box {
    padding: 0
}

.map-custom,
.map-last-address {
    padding-top: 1px;
    padding-bottom: 10px
}

.site-logo {
    text-align: left;
    padding-left: 90%;
    margin-top: 18px;
    margin-bottom: 15px
}

.contact-form7,
:lang(ar) .contact-form7 {
    margin-top: 1%;
    margin-bottom: 10px;
}

.custom-search-line {
    margin-top: -20px;
    margin-left: 30%
}

:lang(ar).custom-search-line {
    margin-top: -21px;
    margin-left: 63%
}

:lang(ar).uk-search-field {
    color: #000;
    margin-top: -2.6em;
    float: right;
    margin-left: 6px;
    width: 93px !important;
}

.uk-search-field {
    color: #000;
    margin-top: -2.6em;
    float: right;
    margin-left: 80px
}

.uk-panel-teaser {
    margin-bottom: 0px!important
}

.tm-logo img {
    margin-left: -75%
}

:lang(ar).tm-logo img {
    margin-left: 75%
}

.gen-dept {
    text-align: center;
    margin-top: 20px
}

.map-custom {
    background-color: #fff;
    width: auto;
    max-width: 100%;
    padding-right: 21px;
    height: 119px;
    margin-bottom: 10px;
    z-index: 1;
    line-height: 1.2em
}

:lang(ar) .map-custom {
    direction: trl
}

:lang(ar).map-last-address {
    margin-right: 0
}

.map-title {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: 700
}

.map-last-address {
    width: 100%;
    margin-left: 0;
    background-color: #FFF
}

:lang(ar).site-logo {
    padding-right: 90%;
    margin-top: 19px;
    padding-left: 0
}

:lang(ar).uk-navbar-flip {
    float: right;
    width: 19em;
    height: auto;
    /*margin-right: 62px;
    margin-left: 0*/
}

:lang(ar)#section#tm-bottom-a {
    margin-top: 0!important
}

:lang(ar).uk-navbar-nav {
    float: right;
    margin-right: 152px;
    margin-top: -55px
}

.custom-slide-show,
.home-page-bannner {
    float: left
}
:lang(ar).splash--title {
    direction: rtl;
    letter-spacing: 2px;
    line-height: 0;
    font-size: 28px;
    color: #fff;
    margin: 35px 0 15px;
    font-weight:normal;
}
:lang(ar) ul.uk-subnav.uk-subnav-line.uk-flex-center{
    direction: rtl !important;
}
:lang(ar).uk-subnav-line>:nth-child(n+2):before{
    margin-left: 11px !important;
    margin-right: 0px !important;
}
.home img.uk-overlay-scale {
    margin-top: 43px
}
img.uk-overlay-scale{
    margin-top: 5px;
}

.home-about-company {
    background-color: #fff;
    text-align: justify;
    padding: 14px 20px 1px;
    margin-top: 42px
}

.txtcopyright {
    font-size: 15px
}

.home-page-about {
    font-size: 16px
}

:lang(ar) .home-page-about {
    font-size: 20px;
    direction: rtl;    
    font-weight: normal;
}

:lang(ar) .home-about-company {
    background-color: #fff;
    min-height: 496px;
    text-align: justify;
    padding: 20px 20px 0
}

:lang(ar).splash--subtitle {
    direction: rtl;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    margin: 0;
    font-weight: normal;
    text-transform: lowercase;
    line-height: 35px
}

.footer-copyright-text,
.uk-h2,
.uk-h2.uk-margin,
h2 {
    text-transform: uppercase
}

:lang(ar) .uk-h2.uk-margin {
    font-family: lato;
    font-weight: bold;
}

.uk-search {
    margin: 0!important
}

.uk-nav-navbar>li>a:focus,
.uk-nav-navbar>li>a:hover {
    background: #008621;
    color: #fff;
    outline: 0
}

.uk-nav-navbar>li>a {
    color: #fff;
    background-color: #006400
}

.right-text-over-banner {
    color: #fff;
    font-family: Lato-Light;
    font-size: 58px;
    line-height: 70px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 100px
}

.left-text-over-banner,
:lang(ar) .left-text-over-banner,
:lang(ar) .right-text-over-banner {
    font-family: Tahoma
}

.left-text-over-banner {
    font-size: 16px;
    color: #353839;
    line-height: 23px;
    padding-left: 135px;
    padding-right: 130px;
    padding-top: 65px;
    text-align: justify
}

:lang(ar) .left-text-over-banner {
    line-height: 27px;
    direction: rtl
}

.uk-cover-background {
    background-size: initial
}

.home-page-banner .uk-panel-teaser {
    margin-bottom: 0
}

.home-page-banner .uk-margin {
    margin-top: 0
}

.our-clients-heading {
    font-family: Lato-Light;
    color: #00ab47;
    font-size: 45px;
    text-align: center;
    padding-top: 10px
}

:lang(ar) .our-clients-heading {
    font-family: Tahoma;
    direction: rtl
}

.uk-slidenav-contrast {
    color: #cecece
}

.custom-double-quote-end,
.custom-double-quote-start {
    font-family: Constantia;
    font-size: 90px;
    color: #ebeded
}

.home-page-map {
    padding: 0;
    margin-bottom: 0!important
}

.custom-double-quote-start {
    float: left;
    padding-top: 80px;
    padding-left: 95px
}

.custom-double-quote-end {
    float: right;
    padding-left: 130px;
    margin-top: -30px;
    padding-top: 0;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg)
}

.footer-logo {
    padding-top: 40px;
    padding-bottom: 30px
}

.footer-ul {
    padding-left: 12%;
    list-style: none;
    padding-bottom: 50px
}

.footer-ul li a {
    float: left;
    color: #fff;
    font-family: Lato-Light;
    font-size: 16px;
    padding-left: 5px
}

:lang(ar) .footer-ul li a {
    font-family: Tahoma;
    direction: rtl
}

.footer-copyright-text {
    font-family: Lato-Light;
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-right: 10px;
    margin-top: inherit
}

:lang(ar) .footer-copyright-text {
    font-family: Tahoma;
    margin-top: 30px;
    direction: rtl
}

.es_button {
    padding: 0
}

.es_textbox {
    padding-bottom: 0
}

.news-letter-content {
    clear: both;
    padding-left: 185px;
    padding-bottom: 50px
}

.custom-line {
    clear: both;
    padding-bottom: 30px;
    max-width: 87px;
    padding-left: 45%
}

.custom-color {
    color: #f58220
}

.tm-main-top .uk-panel-box {
    padding-bottom: 0
}

.uk-slidenav-position .uk-slidenav-previous {
    left: .5%;
    position: absolute;
    color: #fff;
    width: 20px
}

.custom-client-slider .uk-slidenav-previous {
    left: -3%;
    position: absolute;
    color: #fff;
    width: 20px
}

.uk-slidenav-position .uk-slidenav-next {
    right: .5%;
    position: absolute;
    color: #fff;
    width: 20px
}

.uk-h2.uk-margin {
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-top: 56px;
    font-family: lato;
    font-weight: bold;
}

:lang(ar) .uk-h2.uk-margin {
    font-family: lato;
    font-weight: bold;
}

.custom-client-slider .uk-slidenav-next {
    right: -3%;
    position: absolute;
    color: #fff;
    width: 20px
}

.island,
.splash {
    position: relative
}

.uk-offcanvas-bar {
    background: #00ab47
}

html .uk-nav.uk-nav-offcanvas>li.uk-active>a {
    background: #fff;
    color: #00ab47
}

.uk-nav-offcanvas>li>a {
    color: #fff;
    font-family: Lato-Light;
    font-size: 18px
}

:lang(ar) .uk-nav-offcanvas>li>a {
    font-family: Tahoma
}

.uk-nav-offcanvas>.uk-open>a,
html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus,
html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover {
    background: #fff;
    color: #00ab47
}

:lang(ar) .footer-ul li a,
:lang(ar) .uk-navbar-nav>li {
    float: right
}

:lang(ar) .footer-ul {
    padding-right: 26%
}

.home-page-banner img {
    width: 100%
}

.custom-page-title {
    font-family: Lato-Semibold;
    font-size: 35px;
    color: #027733;
    padding-top: inherit
}

:lang(ar) #qtranxs_select_qtranslate-2-chooser,
:lang(ar) .custom-page-content,
:lang(ar) .custom-page-title {
    font-family: Times new roman;
    direction: rtl
}

:lang(ar) .custom-page-title {
    font-weight: 700;
    padding-bottom: 20px
}

.custom-page-line {
    padding-top: 0!important;
    padding-bottom: 80px
}

.custom-page-content>.contact-us>#wpcf7-f867-p849-o1 {
    text-align: right!important
}

.bottom-content-line {
    padding-left: 45%;
    padding-top: 30px
}

.qtranxs_widget_end {
    float: left
}

#qtranxs_select_qtranslate-2-chooser {
    border: none;
    font-family: Lato;
    font-size: 14px;
    color: #000;
    outline: 0;
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;    
    background-color:transparent;
}

:lang(ar) #qtranxs_select_qtranslate-2-chooser {
    background-color: transparent;
    margin-left: 115px
}

.search-line {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    padding-top: 15px
}

#qtranslate-2-chooser {
    border: none;
    outline: 0
}

.contact-from-field .wpcf7-file,
.contact-from-field .wpcf7-select,
.contact-from-field .wpcf7-text,
.contact-from-field .wpcf7-textarea {
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 28px
}

:lang(ar) .contact-from-field .wpcf7-file,
:lang(ar) .contact-from-field .wpcf7-select,
:lang(ar) .contact-from-field .wpcf7-text,
:lang(ar) .contact-from-field .wpcf7-textarea {
    font-family: Tahoma;
    direction: rtl
}

.contact-form-english,
.contact-fowrm-arebic {
    font-family: Lato;
    font-size: 22px;
    line-height: 30px;
    margin: auto
}

.contact-form-arebic,
:lang(ar) .contact-form-english {
    font-family: Tahoma;
    font-size: 22px;
    line-height: 30px;
    direction: rtl
}

.contact-form-a input.wpcf7-form-control,
.contact-form-arebic input.wpcf7-form-control,
.contact-form-english input.wpcf7-form-control,
select.wpcf7-form-control,
textarea.wpcf7-form-control {
    border: 1px solid #008621
}

.contact-attachment {
    border: none!important;
    width: 90%
}

.contact-from-field .wpcf7-text {
    width: 90%;
    padding: 10px
}

.contact-from-field .wpcf7-select {
    width: 94%;
    padding: 12px 10px;
    color: #008621
}

.contact-from-field .wpcf7-textarea {
    width: 95%;
    padding: 10px;
    line-height: 25px
}

.contact-from-field {
    color: #008621
}

.contact-from-field .wpcf7-submit {
    background: #008621;
    font-family: Lato;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
    padding: 5px 15px
}

:lang(ar) .contact-from-field .wpcf7-submit {
    font-family: Tahoma
}

:lang(ar) .contact-form-arebic input.wpcf7-form-control,
:lang(ar) .contact-form-arebic select.wpcf7-form-control,
:lang(ar) .contact-form-arebic textarea.wpcf7-form-control,
:lang(ar) .contact-form-english input.wpcf7-form-control,
:lang(ar) .contact-form-english select.wpcf7-form-control,
:lang(ar) .contact-form-english textarea.wpcf7-form-control,
:lang(ar) .ml-responsive-table dd.ml-value,
:lang(ar) .ml-responsive-table dt.ml-title,
:lang(ar) .ml-responsive-table input.wpcf7-form-control,
:lang(ar) .ml-responsive-table select.wpcf7-form-control,
:lang(ar) .ml-responsive-table textarea.wpcf7-form-control {
    direction: rtl
}

:lang(ar) .right-text-over-banner {
    direction: rtl;
    float: right;
    padding-right: 50px;
    text-align: right
}

:lang(ar) .custom-double-quote-end {
    margin-top: 0
}

.application-form .wpcf7-date,
.ml-responsive-table .wpcf7-date {
    width: 90%;
    padding: 10px;
    font-family: Lato-Light;
    font-size: 18px;
    color: #008621
}

:lang(ar) .application-form .wpcf7-date {
    font-family: Tahoma;
    direction: rtl
}

.ml-title {
    color: #008621;
    font-family: Lato-Light;
    font-size: 18px;
    line-height: 28px
}

.attachment-table .emp-attach-name {
    width: 98%!important
}

.attachment-table .emp-attachment-file {
    border: none!important
}

:lang(ar) .job-application-heading {
    direction: rtl
}

.career-submit {
    background: #008621;
    font-family: Lato;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
    border: none;
    padding: 5px 15px
}

:lang(ar) .career-submit {
    font-family: Tahoma;
    direction: rtl
}

div.wpcf7-validation-errors {
    border: 2px solid #008621;
    border-radius: 25px
}

div.wpcf7-mail-sent-ok {
    border: none;
    background: #008621;
    border-radius: 25px;
    color: #fff;
    text-align: center
}

:lang(ar) .application-form,
:lang(ar) .contact-branch {
    text-align: right
}

:lang(ar) .qualification-table {
    float: right
}

.uk-offcanvas .uk-panel-title {
    color: #00ab47;
    font-family: Lato-Light
}

:lang(ar) .uk-offcanvas .uk-panel-title {
    color: #00ab47;
    font-family: Tahoma;
    direction: rtl
}

.uk-link,
.uk-offcanvas a {
    color: #00ab47
}

.uk-offcanvas .uk-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #008621;
    font-size: 15px;
    margin-left: 95px
}

.uk-icon-button:focus,
.uk-offcanvas .uk-icon-button:hover {
    background-color: #00ab47;
    color: #fff;
    outline: 0
}

.uk-offcanvas .uk-search-field {
    width: 60%;
    color: #000;
    background-color: #fff
}

.contact-form-english input.wpcf7-form-control::-webkit-input-placeholder {
    color: #000
}

.contact-form-english input.wpcf7-form-control:-moz-placeholder {
    color: #000
}

.contact-form-english input.wpcf7-form-control::-moz-placeholder {
    color: #000
}

.contact-form-english input.wpcf7-form-control:-ms-input-placeholder {
    color: #000
}

.contact-form-english textarea.wpcf7-form-control::-webkit-input-placeholder {
    color: #000
}

.contact-form-english textarea.wpcf7-form-control:-moz-placeholder {
    color: #000
}

.contact-form-english textarea.wpcf7-form-control::-moz-placeholder {
    color: #000
}

.contact-form-english textarea.wpcf7-form-control:-ms-input-placeholder {
    color: #000
}

.contact-form-arebic input.wpcf7-form-control::-webkit-input-placeholder {
    color: #000
}

.contact-form-arebic input.wpcf7-form-control:-moz-placeholder {
    color: #000
}

.contact-form-arebic input.wpcf7-form-control::-moz-placeholder {
    color: #000
}

.contact-form-arebic input.wpcf7-form-control:-ms-input-placeholder {
    color: #000
}

.contact-form-arebic textarea.wpcf7-form-control::-webkit-input-placeholder {
    color: #000
}

.contact-form-arebic textarea.wpcf7-form-control:-moz-placeholder {
    color: #000
}

.contact-form-arebic textarea.wpcf7-form-control::-moz-placeholder {
    color: #000
}

.contact-form-arebic textarea.wpcf7-form-control:-ms-input-placeholder {
    color: #000
}

.uk-panel>:not(.uk-panel-title):last-child {
    margin-bottom: 0!important
}

.footers-a {
    color: #fff;
    margin-top: 5.5%;
    font-family: Lato-Thin;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px
}

.custom-line-search {
    margin-left: 75px;
    margin-top: -11%
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

.uk-overlay-background {
    background: 0 0
}

.clients-widget {
    background: #38ab68;
    padding: 0 50px
}

.custom-footer {
    background-color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 30px 0 -20px;
    font-family: Lato
}

.tm-footer {
    padding: 5px
}

.uk-h3 {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-family: lato
}

.splash--subtitle,
.splash--title {
    font-family: Lato-Thin;
    font-weight: 700
}

:lang(ar) h4 {
    font-size: 20px;
}

:lang(ar) h4.map-title {
    font-size: 24px;
}

.uk-h4,
.uk-h5,
h4,
h5 {
    font-size: 16px;
    text-align: center
}

.uk-h4,
h4 {
    margin-top: 10px;
    line-height: inherit;
    font-stretch: semi-condensed
}

.uk-subnav .uk-subnav-line .uk-flex-center {
    color: #027733;
    margin-top: 3.5%
}

.uk-subnav>*>* {
    color: #027733
}

p ul ol dl blockquote pre address fieldset figure {
    margin: -28px 2px -29px 4px;
    color: #00ab47
}

.uk-h5,
h5 {
    line-height: 5px;
    height: 50px
}

.island {
    opacity: 3.7;
    margin: 0 auto auto;
    padding: 100px 20px 20px;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.splash {
    height: 500px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/map-new-baner1.png);
    text-align: center;
    color: #fff
}

.splash--title {
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 40px;
    color: #fff;
    margin: 25px 0
}

.splash--subtitle {
    font-size: 32px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    margin: 0 0 15px
}

.splash:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none
}

.custom-clients {
    background-color: #027733;
    text-align: center
}

.uk-panel-box {
    padding: 0;
    background-color: #EFEFEF
}

.tm-main>:nth-child(n+2) {
    margin-top: 0
}

.footer-img {
    padding-top: 35px;
    display: block;
    margin-left: 49%
}

:lang(ar) .footer-img {
    margin-right: 48%
}

.uk-flex-center,
.uk-subnav,
.uk-subnav-line,
.uk-width-1-3 {
    margin-left: -20px;
    font-size: 17px
}

.uk-margin p {
    font-size: 45px;
    line-height: 60px;
    color: #466ea2;
    margin-top: -322px;
    margin-left: 65px;
    font-weight: 700
}

.tm-top-a .uk-grid {
    margin-bottom: 15px
}

.map-button {
    background-color: #fff;
    color: #353839;
    font-size: 20px;
    padding: 6px 20px;
    margin-top: 5px
}

.read-more-button,
:lang(ar) .read-more-button {
    color: #027733;
    text-align: center;
    margin-left: 0;
    font-weight: 700
}

.map-button:hover {
    text-decoration: none
}

.read-more-button {
    margin-top: 18px;
    font-size: 15px;
    margin-bottom: 18px
}

:lang(ar) .read-more-button {
    margin-top: 8px;
    padding-bottom: 22px;
    font-size: 20px;
}

.uk-width-medium-1-1 {
    margin-top: 1%;
    margin-bottom: 5%
}

.uk-dotnav-contrast>*>* {
    background: #027733;
}

.uk-panel .uk-panel-box .widget_text {
    border: 1px solid red;
    color: #F5F5F5
}

.uk-search-img {
    float: left;
    margin-top: -21px;
    margin-left: 25px;
    margin-right: 0
}

:lang(ar).uk-search-img {
    float: left;
    margin-top: -20px;
    margin-left: 5px;
}

.uk-search-img img {
    margin-left: 60px;
    float: right;
    position: absolute;
    max-width: 14px;
    margin-top: 4px
}

.uk-dropdown-navbar {
    background-color: transparent;
    hover: #38ab68
}

.about-us-page-text,
.services-page-text {
    font-family: LATO-THIN;
    font-size: 18px;
    color: #353839;
    line-height: 24px;
    text-align: justify
}

:lang(ar) .about-us-page-text {
    direction: rtl;
    font-family: Tahoma;
    font-size: 14px;
    text-align: justify;
    line-height: 24px
}

:lang(ar) .org-text {
    text-align: center
}

.organization-chart-page-text {
    font-family: lato-thin;
    font-size: 16px;
    color: #353839;
    text-align: justify;
    line-height: 24px
}

.contact-us-page-text {
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center
}

.clients-page-text,
body {
    font-family: Lato-Thin;
    color: #353839
}

.uk-h2,
.uk-link,
a,
h2 {
    color: #027733;
    font-weight: 700
}
.island a {
    color: white !important;
    text-decoration: none;
}
a.map-button {
    color: #353535 !important;
}

.contact-us-page-text .uk-width-1-2 {
    padding-bottom: 10px
}

.clients-page-text {
    font-size: 18px
}

:lang(ar) .clients-page-text {
    direction: rtl
}

.uk-dotnav>*>* {
    width: 15px;
    height: 15px
}

body {
    background-color: #EFEFEF;
    font-weight: 700;
    font-size: 14px
}

.uk-h2,
h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-top: 56px
}

b,
strong {
    font-size: 18px
}

.uk-subnav>.uk-active>* {
    color: #fff
}

.uk-slideshow>li>img {
    visibility: inherit
}

.custom-home-slider ul.uk-slider {
    width: 100%!important;
    min-width: 100%!important;
    margin: 0
}

.custom-home-slider ul.uk-slider li {
    width: 100%!important;
    padding: 0;
    font-family: Lato-Black
}

.custom-home-slider .uk-h2.uk-margin {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-top: -220px;
    line-height: 38px
}

:lang(ar) .uk-h2.uk-margin {
    font-family: lato;
    font-weight: bold;
}

.island h4,
.island h4 b,
:lang(ar).island h4 {
    font-size: 23px;
    color: #fff
}

.sidebar-box {
    text-align: justify;
    background-color: #fff;
    padding: 25px 40px 18% 35px
}

.map-img {
    padding: 5px
}

.island h4 {
    margin-bottom: 10px;
    font-family: Lato-Thin
}

:lang(ar).island h4 {
    direction: rtl;
    margin-bottom: 10px;
    font-family: Tahoma
}

:lang(ar) .island h4 b {
    font-size: 30px;
    font-weight:normal;
}

.uk-slidenav-next,
.uk-slidenav-next:hover,
.uk-slidenav-previous,
.uk-slidenav-previous:hover {
    display: inline-block!important
}

section.home-page-map {
    margin-top: 0!important
}

.custom-page-content {
    padding-bottom: 20px
}

.uk-search-field::-webkit-input-placeholder {
    color: #000;
    opacity: 1
}

.uk-search-field::-ms-input-placeholder {
    color: #000
}

.uk-search-field::-moz-placeholder {
    color: #000;
    opacity: 1
}

.wp-page-145 .custom-page-content iframe {
    width: 100%!important
}

@media (max-width:320px) {
    .contact-from-field .wpcf7-select {
        width: 98%
    }
    .home-about-company {
        margin-top: 20px
    }
}

@media (max-width:375px) {
    .right-text-over-banner {
        font-size: 32px;
        line-height: 40px;
        padding-left: 20px;
        padding-top: 20px
    }
    .custom-home-slider .uk-h2.uk-margin {
        color: #FFF;
        font-size: 23px;
        font-weight: 700;
        margin-top: -150px;
        margin-left: 17px;
        text-align: center
    }
    .home-about-company {
        margin-top: 20px
    }
    :lang(ar) .custom-home-slider .uk-h2.uk-margin {
        color: #466ea2;
        font-size: 25px;
        font-weight: 700;
        margin-top: -150px;
        margin-left: 17px;
        text-align: center
    }
    .map-button,
    :lang(ar) .map-button {
        width: 30%;
        line-height: 14px;
        font-size: 12px;
        margin-left: 4px;
        margin-top: 0
    }
    .splash--title {
        margin-left: 0;
        margin-top: 60px;
        font-size: 26px;
        line-height: 45px;
        letter-spacing: 1px;
        margin-bottom: 25px
    }
    :lang(ar) .splash--title {
        margin-left: 0;
        margin-top: 30px!important;
        font-size: 17px!important;
        line-height: 18px!important;
        letter-spacing: 1px!important;
        margin-bottom: 10px!important
    }
    :lang(ar) .splash--subtitle {
        margin-left: -10px;
        font-family: Tahoma;
        font-weight: 300;
        font-size: .79em;
        line-height: 1.875rem;
        color: #fff;
        margin-top: -7px;
        margin-bottom: 4px;
        direction: rtl
    }
    .custom-double-quote-start {
        font-size: 55px
    }
    .left-text-over-banner {
        padding-left: 45px;
        padding-right: 45px;
        font-size: 15px;
        line-height: 20px
    }
    .custom-double-quote-end {
        font-size: 55px;
        padding-left: 45px
    }
    .our-clients-heading {
        padding-top: 10px;
        font-size: 30px;
        line-height: 35px
    }
    .custom-newsletter-label {
        font-size: 20px
    }
    .custom-newsletter-textbox {
        height: 35px;
        width: 200px
    }
    .custom-newsletter-button {
        width: 80px;
        height: 39px
    }
    .custom-page-title {
        font-size: 40px;
        padding-top: 35px;
        line-height: 45px
    }
    .custom-page-line {
        padding-bottom: 35px
    }
    .custom-page-content {
        font-size: 16px;
        line-height: 22px
    }
    .contact-from-field .wpcf7-select {
        width: 97%
    }
}

@media (min-width:1220px) {
    .uk-container {
        padding: 0
    }
}

@media (max-width:479px) {
    .uk-navbar-toggle {
        padding-left: 30px;
        padding-top: 0!important;
        padding-bottom: 0!important
    }
    :lang(ar) .tm-top-a .uk-grid {
        margin-bottom: -30%;
        margin-top: -30%
    }
    :lang(ar) .uk-grid,
    :lang(ar) .uk-panel.uk-panel-box.widget_text {
        margin-top: 0
    }
    .right-text-over-banner {
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 30px;
        padding-left: 30px
    }
    .custom-double-quote-start {
        font-size: 70px;
        padding-left: 20px;
        padding-top: 20px
    }
    .left-text-over-banner {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px
    }
    .custom-double-quote-end {
        padding-left: 50px;
        margin-top: 0;
        font-size: 70px
    }
    .news-letter-content {
        padding-left: 50px
    }
    .custom-newsletter-label {
        float: none;
        padding-top: 0;
        font-size: 22px
    }
    .custom-newsletter-textbox {
        margin-left: auto;
        float: none;
        margin-top: 15px;
        font-size: 15px
    }
    :lang(ar) input.uk-search-field,
    input.uk-search-field {
        margin: 15px;
        padding-left: 0
    }
    .custom-newsletter-button {
        margin-top: 15px;
        font-size: 18px
    }
    .our-clients-heading {
        padding-top: 25px;
        font-size: 35px;
        line-height: 45px
    }
    .uk-navbar-toggle {
        padding: 10px
    }
    .bottom-content-line,
    .custom-line {
        padding-left: 35%
    }
    .custom-page-title {
        font-size: 35px;
        padding-top: 10px;
        line-height: 50px
    }
    .custom-page-line {
        padding-bottom: 50px
    }
    .custom-page-content {
        font-size: 16px;
        line-height: 22px
    }
    .contact-from-field .wpcf7-select {
        width: 96%
    }
    .custom-home-slider {
        height: 100%;
        width: 100%
    }
    input.uk-search-field {
        width: 50%!important
    }
    :lang(ar).site-logo,
    :lang(ar).site-logo img {
        text-align: center;
        padding-left: 0;
        width: 100%
    }
    .site-logo {
        text-align: center;
        padding-right: 0
    }
    .home-page-map {
        margin-bottom: 0!important
    }
    .uk-h2,
    h2 {
        font-size: 25px
    }
    .uk-h5,
    h5 {
        font-size: 12px
    }
    .splash,
    .splash--title,
    b,
    strong {
        font-size: 18px
    }
    .uk-grid {
        margin-top: 0
    }
    .island {
        padding: 38px 6px 0 22px
    }
    .sidebar-box {
        text-align: justify;
        background-color: #fff;
        padding: 2% 22px 15%
    }
    .home-about-company {
        margin-top: 20px
    }
    .uk-panel.uk-panel-box.widget_text {
        margin-top: 0
    }
    .uk-width-medium-1-1 {
        margin-bottom: 35px
    }
    .splash {
        height: 270px
    }
    .splash--title {
        margin-left: 12px;
        margin-top: 60px;
        line-height: 0;
        letter-spacing: 1px;
        margin-bottom: 15px
    }
    :lang(ar) .splash--title {
        margin-left: 12px!important;
        margin-top: 60px!important;
        font-size: 18px!important;
        line-height: 0!important;
        letter-spacing: 1px!important;
        margin-bottom: 0!important
    }
    .map-img {
        margin-bottom: 0!important;
        margin-top: 0!important
    }
    .splash--subtitle {
        font-family: Lato-Thin;
        font-weight: 300;
        font-size: .85em;
        line-height: 1.875rem;
        color: #fff;
        margin-left: 20px;
        margin-top: -7px;
        margin-bottom: 4px
    }
    :lang(ar) .splash--subtitle {
        direction: rtl;
        font-family: Tahoma!important;
        font-weight: 300!important;
        font-size: .85em!important;
        line-height: 1.875rem!important;
        color: #fff!important;
        margin-left: 0!important;
        margin-top: -7px!important;
        margin-bottom: 4px!important
    }
    :lang(ar).uk-navbar {
        direction: rtl;
        background-image: none!important;
        background-color: #FFF;
        margin: 0
    }
    .map-img {
        margin-left: 10px;
        margin-bottom: 14px!important;
        margin-top: 6px!important;
    }
    .map-button {
        width: 39%!important;
        line-height: 5px;
        font-size: 12px;
        margin-left: 12px;
        margin-top: 0!important
    }
    .island h4 {
        font-size: 17px;
        color: #fff;
        margin: 0 0 10px
    }
    .island h4 b {
        font-size: 16px!important;
        color: #fff
    }
    :lang(ar) .custom-home-slider .uk-h2.uk-margin {
        margin-top: -30%
    }
    .custom-home-slider .uk-h2.uk-margin {
        color: #FFF;
        font-size: 33px!important;
        font-weight: 700;
        margin-top: -40%;
        margin-left: 18px;
        text-align: center
    }
    .custom-home-slider ul.uk-slider {
        width: 100%!important;
        min-width: 100%!important;
        margin: 0
    }
    .tm-footer .uk-panel+.uk-panel {
        margin-top: 10px;
        line-height: 20px;
        padding: 10px
    }
    .custom-clients {
        margin-top: 15%
    }
    .contact-from-field .wpcf7-textarea {
        width: 95%;
        padding: 10px;
        line-height: 25px
    }
    :lang(ar) .contact-from-field .wpcf7-textarea {
        width: 90%;
        padding: 10px;
        line-height: 15px;
        margin-bottom: 0;
        margin-top: 10px
    }
}

@media (max-width:667px) {
    .tm-logo img,
    :lang(ar) .tm-logo img {
        margin-left: 0
    }
    .right-text-over-banner {
        font-size: 50px;
        line-height: 55px
    }
    .news-letter-content {
        padding-left: 65px
    }
    :lang(ar) input.uk-search-field,
    input.uk-search-field {
        margin: 0;
        padding-left: 6px;
        margin-right: 40%;
    }
    .contact-from-field .wpcf7-select {
        width: 93.5%
    }
    .qualification-table input.wpcf7-form-control,
    select.wpcf7-form-control,
    textarea.wpcf7-form-control {
        width: auto
    }
    .workshop-table .wpcf7-number {
        width: auto!important
    }
    .site-logo {
        padding-left: 0!important;
        padding-right: 0!important;
        text-align: center!important
    }
    .custom-clients {
        margin-top: 0
    }
    .uk-width-medium-1-1 {
        margin-bottom: 0
    }
    .home-about-company {
        background-color: #fff;
        min-height: inherit;
        text-align: justify;
        padding: 20px;
        margin-top: 20px
    }
    .site-logo img {
        width: 35%!important;
        margin-top: 2%
    }
}

@media (max-width:767px) {
    .footer-line,
    .footer-logo,
    .footer-ul {
        display: none
    }
    .footer-copyright-text {
        font-size: 12px;
        margin-right: 15px
    }
    .uk-hidden-medium {
        display: none!important
    }
    article.uk-article.uk-container.uk-container-center {
        padding: 0
    }
    .right-text-over-banner {
        padding-top: 20px;
        padding-bottom: 60px
    }
    .our-clients-heading {
        padding-top: 60px
    }
    .left-text-over-banner {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px
    }
    :lang(ar) .left-text-over-banner {
        padding-top: 50px
    }
    .custom-double-quote-end {
        padding-left: 80px;
        margin-top: -15px
    }
    .custom-double-quote-start {
        padding-left: 35px;
        padding-top: 40px
    }
    :lang(ar) .custom-double-quote-start {
        padding-top: 55px
    }
    .tm-navbar {
        margin: 0
    }
    .contact-from-field .wpcf7-textarea {
        width: 90%
    }
    .contact-from-field .wpcf7-select {
        width: 93%
    }
    .home-about-company {
        margin-top: 20px
    }
    .island {
        margin-top: 0
    }
    .splash--title {
        margin-top: 12%;
        letter-spacing: 2px;
        line-height: 40px;
        font-size: 29px;
        color: #fff
    }
    .uk-panel>:not(.uk-panel-title):last-child {
        margin-bottom: 0!important
    }    
    .splash--subtitle {
        font-family: lato-thin;
        font-weight: 300;
        font-size: 1.375em;
        line-height: 1.875rem;
        color: #ebebeb;
        margin-top: -10%;
        margin-bottom: 4px
    }   
    
    
    .custom-page-content .uk-width-1-2 {
        width: 100%!important
    }
}

@media (max-width:959px) {
    .footers-a,
    .splash--subtitle {
        font-weight: 700;
        margin-bottom: 0
    }
    .island,
    :lang(ar).island {
        z-index: 10;
        position: relative
    }
    .island,
    .uk-overlay,
    .uk-panel,
    :lang(ar).island {
        position: relative
    }
    :lang(ar) .splash--title {
        letter-spacing: 2px;
        line-height: 15px;
        font-size: 22px;
        color: #fff;
        margin-top: 10%;
        margin-bottom: 20px
    }
    :lang(ar) .splash--subtitle {
        direction: rtl;
        font-family: Tahoma;
        font-size: 18px;
        line-height: 1.975rem;
        color: #ebebeb;
        margin-top: -6%;
        margin-bottom: 0px;
    }
    :lang(ar) .island h4 b {
        font-size: 22px
    }
    :lang(ar).map-img {
        padding: 0;
        margin-bottom: 2px;
        margin-top: -15px
    }
    .uk-slidenav-position .uk-slidenav-previous {
        left: 5px;
        color: #fff
    }
    .uk-slidenav-position .uk-slidenav-next {
        right: 5px;
        color: #fff
    }
    .qualification-table input.wpcf7-form-control,
    select.wpcf7-form-control,
    textarea.wpcf7-form-control {
        width: 89.3%
    }
    #emp-attach-name,
    #emp-attachment-file,
    #emp-country,
    #emp-date,
    #emp-end-date,
    #emp-job,
    #emp-join-date,
    #emp-leaving-reason,
    #emp-place,
    #emp-wage,
    #workshop-end-date,
    #workshop-place,
    #workshop-sub,
    .emp-degree,
    .emp-source,
    .emp-spec,
    .experience-table .wpcf7-text,
    .workshop-degree,
    .workshop-hours {
        width: 90%!important;
        padding: 10px;
        border: 1px solid #008621
    }
    #emp-qual {
        width: 93.5%!important;
        padding: 10px;
        border: 1px solid #008621
    }
    .workshop-table .wpcf7-number {
        width: 82%!important
    }
    .experience-table .wpcf7-text {
        width: 78%!important
    }
    .home-about-company {
        margin-top: 20px
    }
    .custom-home-slider .uk-h2.uk-margin {
        font-size: 27px
    }
    .uk-h2,
    h2 {
        font-size: 22px;
        line-height: 45px;
        text-align: center
    }
    .island {
        margin: 0;
        padding: 70px 9px 0 23px
    }
    :lang(ar).island {
        margin: 0;
        padding: 17px 9px 0 21px;
    }
    .uk-grid-match>*>* {
        width: 100%
    }
    .contact-from-field .wpcf7-select {
        width: 96%
    }
    .map-button {
        width: 25%;
        line-height: 17px;
        font-size: 12px;
        margin-left: 0;
        margin-top: 0
    }
    .splash--title {
        letter-spacing: 2px;
        line-height: 15px;
        font-size: 20px;
        color: #fff;
        margin: 0;
        padding-top: 0!important
    }
    .splash--subtitle {
        font-family: lato-thin;
        font-size: 22px;
        line-height: 1.875rem;
        color: #ebebeb;
        margin-top: 16px
    }
    .uk-h4,
    h4 {
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        line-height: inherit;
        font-stretch: semi-condensed
    }
    .footers-a {
        color: #fff;
        margin-top: 6.5%;
        font-family: Lato-Thin;
        font-size: 20px
    }
    .splash {
        height: 350px
    }
    .tm-footer {
        margin-top: -7px;
        margin-bottom: 1px;
        width: 100%
    }
    .uk-width-1-3 {
        margin-left: -33px;
        margin-bottom: -10px
    }
    .tm-footer .uk-panel+.uk-panel {
        margin-top: 10px;
        line-height: 20px
    }
    .uk-panel,
    .uk-panel:hover {
        text-decoration: none
    }
    .uk-overlay {
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        margin-top: -35px
    }    
    .uk-panel {
        display: block
    }
    .uk-grid {
        margin-left: -27px
    }
    .uk-margin p {
        font-size: 28px;
        line-height: 40px;
        color: #466ea2;
        margin-top: -216px;
        margin-left: 30px
    }
    .map-img {
        margin-bottom: 0px;
        margin-top: 0px
    }
    .uk-navbar-nav {
        display: none!important
    }
}

@media (min-width:1220px) {
    .uk-grid+.uk-grid,
    .uk-grid-margin,
    .uk-grid>*>.uk-panel+.uk-panel,
    :lang(ar).uk-grid+.uk-grid {
        margin-top: 0
    }
    :lang(ar).uk-grid>* {
        padding-left: 35px
    }
}

@media only screen and (min-width:768px) and (max-width:1220px) {
    .custom-tm-main-top .uk-width-medium-1-3 {
        width: 100%
    }
}

@media only screen and (min-width:666px) and (max-width:959px) {
    .custom-tm-main-top .uk-width-medium-1-3 {
        width: 100%
    }
}

@media (max-width:1024px) {
    .uk-navbar-nav,
    :lang(ar) .uk-navbar-nav {
        display: inherit;
        margin-right: 60px;
        margin-top: -53px
    }
    .custom-line {
        padding-left: 45%
    }
    .contact-from-field .wpcf7-select {
        width: 95%
    }
    .qualification-table {
        width: 97.4%
    }
    .qualification-table input.wpcf7-form-control,
    select.wpcf7-form-control,
    textarea.wpcf7-form-control {
        width: 92.3%
    }
    .emp-degree,
    .emp-source,
    .workshop-degree {
        width: 94%!important
    }
    .workshop-table .wpcf7-number {
        width: 88%!important
    }
    .experience-table .wpcf7-text {
        width: 86%!important
    }
}

@media (max-width:1600px) {
    .uk-navbar-nav,
    :lang(ar).uk-navbar-nav {
        text-align: center;
        margin-right: 60px;
        display: inherit
    }
    .uk-navbar-nav {
        margin-top: -43px
    }
    :lang(ar).uk-navbar-nav {
        margin-top: -40px
    }
}

@media only screen and (min-device-width:960px) and (max-device-width:1024px) {
    .uk-navbar-nav,
    :lang(ar) .uk-navbar-nav {
        float: right;
        margin-right: 170px;
        margin-top: -70px
    }
    .uk-navbar-flip {
        float: right;
        width: 82%
    }
    .uk-visible-medium {
        display: none!important
    }
}

@media (min-width:668px) and (max-width:959px) {
    .uk-visible-medium,
    :lang(ar).uk-visible-medium {
        display: block!important;
        margin-top: -6%;
        margin-left: 5%
    }
}

@media (min-width:280px) and (max-width:667px) {
    .uk-visible-medium,
    :lang(ar).uk-visible-medium {
        display: block!important;
        margin-top: -14.6%;
        margin-left: 5%
    }
}

@media (min-width:1600px)  {
    :lang(ar).uk-navbar-flip
    {
        width: 22em;
    }    
}
@media(max-width: 667px){
    :lang(ar).site-logo img{
        margin-top: 0px;
    }    
}

