@font-face{font-family:'lato';src:url("../fonts/Lato-Regular.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Black';src:url("../fonts/Lato-Black.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url("../fonts/Lato-Bold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Semibold';src:url("../fonts/Lato-Semibold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Hairline';src:url("../fonts/Lato-Hairline.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Light';src:url("../fonts/Lato-Light.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Thin';src:url("../fonts/Lato-Thin.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Italic';src:url("../fonts/Lato-Italic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-LightItalic';src:url("../fonts/Lato-LightItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-HairlineItalic';src:url("../fonts/Lato-HairlineItalic.ttf");font-weight:normal;font-style:normal}
@font-face{font-family:'Lato-BlackItalic';src:url("../fonts/Lato-BlackItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-Black';src:url("../fonts/Cairo-Black.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-Bold';src:url("../fonts/Cairo-Bold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-ExtraLight';src:url("../fonts/Cairo-ExtraLight.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-Light';src:url("../fonts/Cairo-Light.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-Regular';src:url("../fonts/Cairo-Regular.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Cairo-SemiBold';src:url("../fonts/Cairo-SemiBold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Constantia';src:url("../fonts/Constantia.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeue';src:url("../fonts/HelveticaNeue/HelveticaNeue.ttf");font-weight:normal;font-style:normal;}

a:hover{color:#FFFFFF;text-decoration: none !important;}
.map-custom a:hover {
    color: #000;
	}

.mail-send:hover{color: white;}
.uk-margin-top{margin-top:10px !important;}
.tm-headerbar, .tm-navbar, .tm-footer{margin-top:0px;margin-bottom:0px;padding-right:20px;}
.tm-headerbar{background:#ffffff;margin-top:0px;height: 10px}
.uk-icon-button{background:#55595d;color:#959d9f;font-size:22px;}
.uk-icon-button:hover, .uk-icon-button:focus{background-color:#008621;color:#fff;outline:none;}
.uk-navbar{background-image:url(../images/arabicmenubkground.png);padding-left:15px; margin-top: -10px; margin-right: 3px;}
:lang(ar).uk-navbar {background-image:url(../images/menubkground.png);padding-right:25px; margin-top: -10px;margin-left: 0;}
.uk-navbar-nav{float: left;margin-left: 125px;margin-top: -56px;}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a{background-color:transparent;color:#FFF;outline:none;}
.uk-navbar-nav > li.uk-active > a{background-color:transparent;color:#FFF;}
.uk-navbar-nav > li > a{font-family:'Cairo-Regular';font-size:18px;color:#353839;font-weight: bold;}
:lang(ar) .uk-navbar-nav > li > a{font-family:'Cairo-Regular'; direction: rtl;}
.uk-navbar-flip{  float: left;   width: 19%;  margin-left: 146px;}
/*.uk-search:before{content:url(wp-content/uploads/saudias/search-icon.png);padding-top:15px;}*/
.uk-navbar-content, .uk-navbar-brand, .uk-navbar-toggle{height:auto;right: 0;float:left;padding:0}
.uk-search-field::-moz-placeholder {color: black; opacity: 1}
:lang(ar).uk-search-field{color:#000000;margin-top: -35px;}
.uk-search-field{color: #000000;margin-top: -40px;margin-left: 70%;}
.tm-top-a .uk-panel-box{padding:0px;}
.site-logo{text-align: left;
    padding-left: 90%;
    margin-top: 18px;
    margin-bottom: 15px;
}
.service-page-image img {
    margin-top: 0px !important;
}
.uk-subnav-line>:nth-child(n+2):before {
    margin-right: 10px;
    border-left: 1px solid #ddd;
    height: 14px;
    margin-top: -5px;
    margin-left:0px;
}
:lang(ar).uk-subnav-line>:nth-child(n+2):before {
    margin-left: 10px;
    border-left: 1px solid #ddd;
    height: 14px;
    margin-top: 0px;
}
:lang(ar).widget_nav_menu{
direction:rtl;
}
:lang(ar) div.wpcf7-validation-errors {
    direction: rtl !important;
}
:lang(ar).arbox1-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox1-text{
    color: #027733;
    clear: both;
    font-size: 18px;
}
:lang(ar).arbox2-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 0px;
}
:lang(ar).arbox2-text{
    color: #027733;
    clear: both;
    line-height: 30px;
    padding-left: 15px;
    font-size: 18px;
}
:lang(ar).arbox3-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox3-text{
    color: #027733;
    clear: both;
    font-size: 18px;
}
:lang(ar).arbox4-title{
    color: #000;
    margin: 0px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
:lang(ar).arbox4-text{
    color: #027733;
    clear: both;
    font-size: 18px;
}
.contact-form7
{
    margin-top:1%;
    margin-bottom:0%;
}
:lang(ar) .contact-form7
{
    margin-top:1%;
    margin-bottom:0%;
}

.custom-line-search {
    margin-top: -35px;
    margin-left: 80%;
    float: left;
}
:lang(ar).uk-search-field {
    margin-top: -5.6em;
    margin-left: 75px;
}
.uk-panel-teaser {
    margin-bottom: 25px !important;
}
.gen-dept{
    text-align:center;
    margin-top: 20px;
}
.map-custom{
    background-color: white;
    width: auto;
    max-width: 100%;
    padding-right: 21px;
    padding-bottom: 10px;
    height: 119px;
    padding-top: 1px;
    margin-bottom: 10px;
    z-index: 1;
    line-height : 1.2em;
}
:lang(ar) .map-custom{
    direction : trl;
}
:lang(ar).map-last-address {
    margin-right: 0;
}
.map-title{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.map-last-address{
    width: 100%;
    margin-left: 0;
    background-color: #FFF;
    padding-top: 1px;
    padding-bottom: 10px;
}
.service-page-image .uk-panel-teaser {
        background-color: white;
        text-align: center;
}
:lang(ar).service-page-image .uk-panel-teaser {
       background-color: white;
        text-align: center;
}
.service-page-image {
        margin-bottom: 35px;
        padding-left: 20%;
}
:lang(ar).service-page-image {
        margin-bottom: 35px;
        padding-right: 20%;
        padding-left:0px;
}
.service-page-content {
    padding: 10px;
    text-align: justify !important;
}
:lang(ar).service-page-content {
    padding: 10px;
    text-align: justify !important;
}
.service-page-content.uk-panel-teaser {
    padding: 20px;
    height: 250px;
}
:lang(ar).service-page-content.uk-panel-teaser {
    padding: 20px;
    height: 200px;
    font-size: 13px;
}
:lang(ar).site-logo {
    padding-right: 90%;
    margin-top: 19px;
    padding-left: 0%;
}

:lang(ar).uk-navbar-flip {
    float: right;
    margin-right: 12px !important;
    left: 0;
    width:342px !important;
}
:lang(ar)#section#tm-bottom-a {
    margin-top: 0px !important;
}
:lang(ar).uk-navbar-nav {
    float: right;
    margin-right: 83px;
    margin-top: -52px;
}
:lang(ar).uk-panel>:not(.uk-panel-title):last-child {
    margin-bottom: 32px;    
}
:lang(ar).splash--title {
    direction: rtl;
    letter-spacing: 2px;
    line-height: 0px;
    font-size: 32px;
    color: #fff;
    margin: 25px 0;
    font-family: 'Cairo-Regular';
    margin-top: 25px;
}
img.uk-overlay-scale {
    margin-top: 43px;
}
.home-about-company {
    background-color: white;
    /*min-height: 523px;*/
    text-align: justify;
    padding: 5px 20px 8px 20px;
    margin-top: 44px;
}
.txtcopyright {
    font-size: 15px;
}
.home-page-about{
    font-size: 17px;
}
:lang(ar) .home-page-about{
    font-size: 13px;
    direction : rtl;
}
:lang(ar) .home-about-company {
    background-color: white;
    min-height: 496px;
    text-align: justify;
    padding: 20px 20px 0px 20px;
}
:lang(ar).splash--subtitle{
    direction: rtl;
    font-family: 'Cairo-Regular';
    font-size: 25px;
    text-align: center;
    color: #FFF;
    margin: 0;
    font-weight: bold;
    margin-bottom: 0px;
}

.hometxt
{
    display: none;
}
.uk-search {
    /*position: absolute; !important;*/
    margin: 0px 0px !important;
}
.uk-nav-navbar > li > a:hover, .uk-nav-navbar > li > a:focus {
    background: #008621 none repeat scroll 0 0;
    color: #ffffff;
    outline: medium none;
}
.uk-nav-navbar>li>a{
    color: white;
    background-color: darkgreen;
}
.uk-search:before {
    content: "";
}

.footer-title{
    padding-bottom: 21px;
    margin-top: 5px;
}
.home-page-bannner{float:left;}
.right-text-over-banner{color:#fff;font-family:'Cairo-Regular';font-size:58px;line-height:70px;padding-left:50px;padding-top:70px;padding-bottom:100px;}
:lang(ar) .right-text-over-banner{font-family:'Cairo-Regular';direction: rtl;}
.left-text-over-banner{font-family:'Cairo-Regular';font-size:16px;color:#353839;line-height:23px;padding-left:135px;padding-right:130px;padding-top:65px;text-align:justify;}
:lang(ar) .left-text-over-banner{font-family:'Cairo-Regular';line-height:27px; direction: rtl;}
.custom-slide-show{float:left;}
.uk-cover-background{background-size:initial;}
.home-page-banner .uk-panel-teaser{margin-bottom:0px;}
.home-page-banner .uk-margin{margin-top:0px;}
.our-clients-heading{font-family:'Cairo-Regular';color:#00ab47;font-size:45px;text-align:center;padding-top:10px;}
:lang(ar) .our-clients-heading{font-family:'Cairo-Regular'; direction: rtl;}
.uk-slidenav-contrast{color:#cecece;}
.home-page-map {padding:0px;margin-bottom: 0 !important;}
.custom-double-quote-start{font-family:'Constantia';font-size:90px;color:#ebeded;float:left;padding-top:80px;padding-left:95px;}
.custom-double-quote-end{font-family:'Constantia';font-size:90px;color:#ebeded;float:right;padding-left:130px;margin-top:-30px;padding-top:0px;-moz-transform:rotate(-180.0deg);-o-transform:rotate(-180.0deg);-webkit-transform:rotate(-180.0deg);}
.footer-logo{padding-top:40px;padding-bottom:30px;}
.footer-ul{padding-left:12%;list-style:none;padding-bottom:50px;}
.footer-ul li a{float:left;color:#fff;font-family:'Cairo-Regular';font-size:16px;padding-left:5px;}
:lang(ar) .footer-ul li a{font-family:'Cairo-Regular'; direction: rtl;}
.footer-copyright-text{font-family:'Cairo-Regular';font-size:18px;color:#fff;padding-top:25px;padding-bottom:30px;margin-right: 10px; margin-top: inherit;text-transform: uppercase;}
:lang(ar) .footer-copyright-text{font-family:'Cairo-Regular';margin-top: 30px; direction: rtl;}
.es_button{padding:0px;}
.es_textbox{padding-bottom:0px;}
.news-letter-content{clear:both;padding-left:185px;padding-bottom:50px;}
.custom-line{clear:both;padding-bottom:30px;max-width:87px;padding-left:45%;}
.custom-color{color:#f58220;}
.tm-main-top .uk-panel-box{padding-bottom: 0px;}
.uk-slidenav-position .uk-slidenav-previous{left:0.5%;position: absolute;color: #ffffff;width: 20px;}
.custom-client-slider .uk-slidenav-previous{
    left: -3%;
    position: absolute;
    color: #ffffff;
    width: 20px;
}
.uk-slidenav-position .uk-slidenav-next{right:0.5%;position: absolute;color: #ffffff;width: 20px;}
.custom-client-slider .uk-slidenav-next{
    right: -3%;
    position: absolute;
    color: #ffffff;
    width: 20px;
}
.uk-offcanvas-bar{background:#00ab47;}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a{background:#fff;color:#00ab47;}
.uk-nav-offcanvas > li > a{color:#fff;font-family:'Cairo-Regular';font-size:18px;}
:lang(ar) .uk-nav-offcanvas > li > a{font-family:'Cairo-Regular';}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{background:#fff;color:#00ab47;}

:lang(ar) .uk-navbar-nav>li{float:right;}
:lang(ar) .footer-ul li a{float:right;}
:lang(ar) .footer-ul{padding-right:26%;}
.home-page-banner img{width:100%;}


.custom-page-title{font-family:'Cairo-Regular';font-size:55px;padding-top:80px;color:#38ab68;padding-top: inherit}
:lang(ar) .custom-page-title{font-family:'Cairo-Regular';font-weight:bold;padding-bottom:20px; direction: rtl;}
.custom-page-line{padding-top:0px !important;padding-bottom:80px;}

.custom-page-content >.contact-us > #wpcf7-f867-p849-o1 {text-align: right !important;}
:lang(ar) .custom-page-content{font-family:'Cairo-Regular'; direction: rtl;}
.bottom-content-line{padding-left:45%;padding-top:30px;}
.qtranxs_widget_end{float:left;}
#qtranxs_select_qtranslate-2-chooser{;border:none;font-family:'Cairo-Regular';font-size:14px;color:#000;outline:none;margin-top:25px; padding-left:0px; padding-right:0px;background-color: #4BC07C;}
:lang(ar) #qtranxs_select_qtranslate-2-chooser{font-family:'Cairo-Regular';background-color: #44BD76; direction: rtl;}
.search-line{padding-left:15px;padding-right:15px;float:left;padding-top:15px;}
#qtranslate-2-chooser{border:none;outline:none;margin-left: -20px;margin-top: 10px;list-style: none}
:lang(ar) #qtranslate-2-chooser{margin-left: 172px;}
:lang(ar) .custom-page-content{direction:rtl;}
.contact-from-field .wpcf7-textarea, .contact-from-field .wpcf7-select, .contact-from-field .wpcf7-text, .contact-from-field .wpcf7-file{font-family:'Cairo-Regular';font-size:20px;line-height:28px;}
:lang(ar) .contact-from-field .wpcf7-textarea,:lang(ar) .contact-from-field .wpcf7-select,:lang(ar) .contact-from-field .wpcf7-text,:lang(ar) .contact-from-field .wpcf7-file{font-family:'Cairo-Regular'; direction: rtl;}
.contact-form-english, .contact-fowrm-arebic{font-family:'Cairo-Regular';font-size:22px;line-height:30px;margin:auto;}
:lang(ar) .contact-form-english, .contact-form-arebic{font-family: 'Cairo-Regular'; font-size: 22px; line-height: 30px; direction: rtl;}
.contact-form-english input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #008621;}
.contact-form-arebic input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #008621;}
.contact-form-a input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #008621;}
.contact-attachment{border:none !important; width:90%;}
.contact-from-field .wpcf7-text{width:90%;padding:10px;}
.contact-from-field .wpcf7-select{width:94%;padding:10px;padding-top:12px;padding-bottom:12px;color:#008621;}
.contact-from-field .wpcf7-textarea{width:95%;padding:10px;line-height:25px;/*margin-bottom:15px; margin-top: -40px;*/}
.contact-from-field{color:#008621;}
.contact-from-field .wpcf7-submit{background:#008621;padding-top:5px;padding-bottom:5px;font-family:'Cairo-Regular';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;}
:lang(ar) .contact-from-field .wpcf7-submit{font-family:'Cairo-Regular';}
:lang(ar) .contact-form-english input.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english select.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic input.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic select.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table input.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table select.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table dt.ml-title{direction:rtl;}

.map-contact-number{color:#fff}
:lang(ar) .ml-responsive-table dd.ml-value{direction:rtl;}
:lang(ar) .ml-responsive-table dt.ml-title{direction:rtl;}

:lang(ar) .right-text-over-banner{direction:rtl;float:right;padding-right:50px;text-align:right;}
:lang(ar) .left-text-over-banner{direction:rtl;}
:lang(ar) .custom-double-quote-end{margin-top:0px;}
.application-form .wpcf7-date{width:90%;padding:10px;font-family:'Cairo-Regular';font-size:18px;color:#008621;}
.ml-responsive-table .wpcf7-date{width:90%;padding:10px;font-family:'Cairo-Regular';font-size:18px;color:#008621;}
:lang(ar) .application-form .wpcf7-date{font-family:'Cairo-Regular'; direction: rtl;}
.ml-title{color:#008621;font-family: 'Cairo-Regular';font-size: 18px;line-height: 28px;}
.attachment-table .emp-attach-name{width:98% !important;}
.attachment-table .emp-attachment-file{border:none !important;}
:lang(ar) .job-application-heading{direction:rtl;}
.career-submit{background:#008621;padding-top:5px;padding-bottom:5px;font-family:'Cairo-Regular';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;border:none;}
:lang(ar) .career-submit{font-family:'Cairo-Regular'; direction: rtl;}
div.wpcf7-validation-errors{border:2px solid #008621;border-radius:25px;}
div.wpcf7-mail-sent-ok{border:none;background:#008621;border-radius:25px;color:#fff;text-align:center;}
:lang(ar) .application-form{text-align:right;}
:lang(ar) .qualification-table{float:right;}
.uk-offcanvas .uk-panel-title{color:#00ab47;font-family:'Cairo-Regular';}
:lang(ar) .uk-offcanvas .uk-panel-title{color:#00ab47;font-family:'Cairo-Regular'; direction: rtl;}
.uk-offcanvas a, .uk-link{color: #000;font-size: 20px;text-decoration: none;}
.uk-offcanvas .uk-icon-button{width:30px;height:30px;line-height:30px;background:#fff;color:#008621;font-size:15px;margin-left:5px;}
.uk-offcanvas .uk-icon-button:hover, .uk-icon-button:focus{background-color:#00ab47;color:#fff;outline:none;}
.uk-offcanvas .uk-search-field{
    width: 60%;
    color: #000000;
    background-color: white;
}
.contact-form-english input.wpcf7-form-control::-webkit-input-placeholder{color:#000000;}
.contact-form-english input.wpcf7-form-control:-moz-placeholder{color:#000000;}
.contact-form-english input.wpcf7-form-control::-moz-placeholder{color:#000000;}
.contact-form-english input.wpcf7-form-control:-ms-input-placeholder{color:#000000;}
.contact-form-english textarea.wpcf7-form-control::-webkit-input-placeholder{color:#000000;}
.contact-form-english textarea.wpcf7-form-control:-moz-placeholder{color:#000000;}
.contact-form-english textarea.wpcf7-form-control::-moz-placeholder{color:#000000;}
.contact-form-english textarea.wpcf7-form-control:-ms-input-placeholder{color:#000000;}

.contact-form-arebic input.wpcf7-form-control::-webkit-input-placeholder{color:#000000;}
.contact-form-arebic input.wpcf7-form-control:-moz-placeholder{color:#000000;}
.contact-form-arebic input.wpcf7-form-control::-moz-placeholder{color:#000000;}
.contact-form-arebic input.wpcf7-form-control:-ms-input-placeholder{color:#000000;}
.contact-form-arebic textarea.wpcf7-form-control::-webkit-input-placeholder{color:#000000;}
.contact-form-arebic textarea.wpcf7-form-control:-moz-placeholder{color:#000000;}
.contact-form-arebic textarea.wpcf7-form-control::-moz-placeholder{color:#000000;}
.contact-form-arebic textarea.wpcf7-form-control:-ms-input-placeholder{color:#000000;}
.uk-panel>:not(.uk-panel-title):last-child {
    margin-bottom: 0 ! important;
}
.footers-a{
    color: #ffffff;
    margin-top: 5.5%;
    font-family: 'Cairo-Regular';
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
.uk-slidenav .uk-slidenav-contrast .uk-slidenav-previous .uk-hidden-touch{
    display: none;
}
:lang(ar).custom-line-search {
    margin-left: 150px;
    margin-top: -10%;
}
.mail-send{
    color: white;
}
input{-webkit-appearance:none;-webkit-border-radius:0;}
.uk-article-meta{
    display:none;
}
.uk-overlay-background{
    background:none;
}
.clients-widget{
    background: #38ab68;
    padding: 0px 15% 1px 15%;
}
.custom-footer{
    background-color: #000000;
}
h1, h2, h3, h4, h5, h6{
    margin: 30px 0px -20px 0px;
    font-family: 'Cairo-Regular';
}
@-moz-document url-prefix() {
    h1, h2, h3, h4, h5, h6{
    margin: 30px 0px -25px 0px;
    }
    .custom-line-search {
  	margin-left: 49%;
	}
	  .uk-search-field {
	  margin-left: 42%;
	}
    :lang(ar).uk-navbar-flip {
        margin-right: 0.4% !important;
    }
	.island h4 {
	  color: #fff;
	  font-family: "Cairo-Regular";
	  font-size: 23px;
	  margin-bottom: 19px !important;
	}
	.island{
	padding: 84px 20px 20px !important;
	}
	:lang(ar).island {
	padding: 94px 20px 20px !important;
	}
	:lang(ar).splash--subtitle
	{
	margin-bottom:20px;
	}
	.map-img {
	  padding: 0 !important;
	  margin-bottom:20px;
	}
	:lang(ar).splash--title {  
  	margin: 38px 0 10px;
	}
	:lang(ar).uk-navbar-flip {
	    float: right;
	    margin-right: 19.4%;
	    left: 0;
	}
	:lang(ar) .home-page-about{
	    font-size: 14px;
	    direction : rtl;
	}
	.home-page-about{
	    font-size: 15px;
	}
	
	:lang(ar) h4,.uk-h4  {
    font-size: 16px;
    text-align: center;
    margin-top: 0px !important;
    line-height: inherit;
    font-stretch: semi-condensed;
}
	:lang(ar) h5, .uk-h5 {
	  line-height: 5px;
	  height:32px;
	}
	:lang(ar) h2, .uk-h2{
	margin-top:39px;
	}
}
:lang(ar) .contact-branch{
    text-align: right;
}
.tm-footer{
    padding: 5px;
}
.uk-h3 {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Cairo-Regular';
}
:lang(ar) h4  {
    font-size: 16px;
}
:lang(ar) h4.map-title {
    font-size: 24px;
}
h4, .uk-h4  {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    line-height: inherit;
    font-stretch: semi-condensed;
}

.uk-subnav .uk-subnav-line .uk-flex-center{
    color: #00ab47;
    margin-top: 3.5%;
}
.uk-subnav>*>*{
    color: #00ab47 ;
}
p ul ol dl blockquote pre address fieldset figure {
    margin: -28px 2px -29px 4px;
    color: #00ab47;
}
h5, .uk-h5 {
    font-size: 16px;
    line-height: 5px;
    text-align: center;
    height: 50px;
}
.uk-h2 {
    font-size: 24px;
    line-height: 280px;
    text-align: -webkit-left;
    height: 27px;
}
.island {
    opacity: 3.7;
    margin: auto;
    position: relative;
    padding: 100px 20px 20px 20px;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
}
.splash {
    height: 500px;
    width: 100%;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../images/map-new-baner1.png);    /*m1.png   ---   map-new-baner*/
    text-align: center;
    color: #fff;
}
.splash--title {
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 40px;
    color: #fff;
    margin: 25px 0;
    font-family: 'Cairo-Regular';
    font-weight: bold;
}
.splash--subtitle {
    font-family: 'Cairo-Regular';
    font-size: 32px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    margin: 0;
    font-weight: bold;
    margin-bottom: 15px;
}
.splash:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
.search-image {
    margin-left: 65px;
    margin-top: -35px;
}
.custom-clients{
    background-color: #38ab68;
    text-align: center;
    margin-bottom: -20px;
}
.uk-panel-box {
    padding: 0px;
    background-color: #EFEFEF;
}
.tm-main>:nth-child(n+2) {
    margin-top: 0px;
}
.footer-img{
    padding-top: 35px;
    display: block;
    margin-left: 50%;
}
:lang(ar) .footer-img{
    margin-right: 42%;
}
.uk-subnav ,.uk-subnav-line ,.uk-flex-center ,.uk-width-1-3{
    margin-left: -20px;
    /*margin-top: 30px;*/
    font-size: 17px;
}
.uk-margin p{
    font-size: 45px;
    line-height: 60px;
    color: #466ea2;
    margin-top: -322px;
    margin-left: 65px;
    font-weight: bold;
}
.tm-top-a .uk-grid{
    margin-bottom: 15px;
}
.uk-panel .uk-panel-box .widget_text{
    border: 1px solid red;
}
.map-button{
    background-color: #ffffff;
    color: #353839;
    font-size: 20px;
    padding: 6px 20px;
    margin-top: 5px;
}
.map-button:hover {
    text-decoration: none;
    color: #353839;
}
.read-more-button a{
    color: #00ab47 !important;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 15px;
    font-weight: bold;
}
.read-more-button{
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 17px;
}
:lang(ar) .read-more-button{
    color: green;
    text-align: center;
    margin-top: 4px;
    padding-bottom: 14px;
    margin-left: 0px;
    font-size: 17px;
    font-weight: bold;
}
.uk-width-medium-1-1{
    margin-top: 1%;
    margin-bottom: 5%;
}
.uk-dotnav-contrast > * > * {
    background: #38ab68;
}
.uk-panel .uk-panel-box .widget_text{
    color: #F5F5F5;
}
:lang(ar).uk-search-img{
    float: left;
    margin-top: -35px;
    margin-left: 60px;
}
:lang(ar).uk-search-img img {
    margin-left: 105px;
    /* margin-right: 69px; */
    float: right;
    position: absolute;
    max-width: 14px;
    margin-top: 4px;
}
.uk-dropdown-navbar{
    background-color: transparent;
    hover: #38ab68;
}
.services-page-text{
    font-family: "Cairo-Regular";
    font-size: 18px;
    color: #353839;
    line-height: 24px;
    text-align: justify;
}
.about-us-page-text{
    font-family: "Cairo-Regular";
    font-size: 18px;
    color: #353839;
    line-height: 24px;
    text-align: justify;
}
:lang(ar) .about-us-page-text{
    direction: rtl;
    font-family: "Cairo-Regular";
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
}
:lang(ar) .org-text{
    text-align: center;
}
.organization-chart-page-text{
    font-family: "Cairo-Regular";
    font-size: 16px;
    color: #353839;
    text-align: justify;
    line-height: 24px;
}
.contact-us-page-text{
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.contact-us-page-text .uk-width-1-2{
    padding-bottom : 10px;
}
.clients-page-text{
    font-family: "Cairo-Regular";
    color: #353839;
    font-size: 18px;
}
:lang(ar) .clients-page-text{
    direction: rtl;
}
.uk-dotnav > * > * {
    width: 15px;
    height: 15px;
}
body{
    background-color: #EFEFEF;
    font-family: Cairo-Regular;
    font-weight: bold;
    font-size: 14px;
    color: #353839;
}
h2, .uk-h2 {
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #38ab68;
    text-transform: uppercase;
    margin-top: 56px;
}
.uk-h2.uk-margin {
    color: #77b489;
    font-family: Cairo-Bold;
    font-size: 40px;
    z-index: 999999;
}
:lang(ar).uk-h2.uk-margin {
    color: #77b489;
    font-family: Cairo-Bold;
    font-size: 40px;
    z-index: 999999;
}
b, strong {
    font-size: 18px;
}
a, .uk-link {
    color: #000000;
    font-weight: bold;
}
.uk-subnav>.uk-active>* {
    color: #ffffff;
}
.uk-slideshow>li>img {
    visibility: inherit;
}
.custom-home-slider ul.uk-slider {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0;
}
.custom-home-slider ul.uk-slider li {
    width: 100% !important;
    padding: 0;
    font-family: Cairo-Regular;
}
.custom-home-slider .uk-h2.uk-margin {
    color: #466ea2;
    font-size: 45px;
    font-weight: bold;
    margin-top: -220px;
}
.sidebar-box {
    text-align: justify;
    background-color: #ffffff;
    padding-left: 35px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 11%;
    margin-top: 43px;
}
.map-img {
    padding: 10px;
}
.island h4 {
    font-size: 23px;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Cairo-Regular';
}
:lang(ar).island h4 {
    direction: rtl;
    font-size: 23px;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Cairo-Regular';
}
.island h4 b {
    font-size: 23px;
    color: #fff;
}
:lang(ar) .island h4 b {
    font-size: 21px;
}
.uk-slidenav-previous, .uk-slidenav-next, .uk-slidenav-next:hover,.uk-slidenav-previous:hover{
    display : inline-block!important ;
}
section.home-page-map{
    margin-top: 0 ! important;
}
.custom-page-content{
    padding-bottom: 20px;
}
.uk-search-field::-webkit-input-placeholder { /* Chrome */
    color: black;
    opacity: 1;
}
.uk-search-field::-ms-input-placeholder { /* IE 10+ */
    color: black;
}
.uk-search-field::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
}
.uk-search-field::-moz-placeholder { /*  Firefox 4 - 18*/
    color: black;
    opacity: 1;
}
.wp-page-145 .custom-page-content iframe {
    width: 100% !important;
}

@media (max-width:320px){.contact-from-field .wpcf7-select{width:98%;}
    .home-about-company{
        margin-top: 20px;
    }
}
@media (max-width:375px){.right-text-over-banner{font-size:32px;line-height:40px;padding-left:20px;padding-top:20px;}
    .custom-home-slider .uk-h2.uk-margin {
        color: #466ea2;
        font-size: 23px;
        font-weight: bold;
        margin-top: -150px;
        margin-left: 17px;
        text-align: center;
    }
    .home-about-company{
        margin-top: 20px;
    }
    :lang(ar) .custom-home-slider .uk-h2.uk-margin {
        color: #466ea2;
        font-size: 25px;
        font-weight: bold;
        margin-top: -150px;
        margin-left: 17px;
        text-align: center;
    }
    .map-button {
        width: 30%;
        line-height: 14px;
        font-size: 12px;
        margin-left: 4px;
        margin-top: 0;
    }
    :lang(ar) .map-button {
        width: 30%;
        line-height: 14px;
        font-size: 11px;
        margin-left: 4px;
        margin-top: 0;
    }
    .splash--title {
        margin-left: 0;
        margin-top: 60px;
        font-size: 26px;
        line-height: 45px;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    :lang(ar) .splash--title {
        margin-left: 0;
        margin-top: 30px ! important;
        font-size: 17px ! important;
        line-height: 18px ! important;
        letter-spacing: 1px ! important;
        margin-bottom: 10px ! important;
    }
    :lang(ar) .splash--subtitle{margin-left: -10px;font-family: 'Cairo-Regular';font-weight: 300;font-size: 0.79em;line-height: 1.875rem;color: white;margin-top: -7px;margin-bottom: 4px; direction: rtl;}
    .custom-double-quote-start{font-size:55px;}
    .left-text-over-banner{padding-left:45px;padding-right:45px;font-size:15px;line-height:20px;}
    .custom-double-quote-end{font-size:55px;padding-left:45px;}
    .our-clients-heading{padding-top:10px;font-size:30px;line-height:35px;}
    .custom-newsletter-label{font-size:20px;}
    .custom-newsletter-textbox{height:35px;width:200px;}
    .custom-newsletter-button{width:80px;height:39px;}
    .custom-page-title{font-size:40px;padding-top:35px;line-height:45px;}
    .custom-page-line{padding-bottom:35px;}
    .custom-page-content{font-size:16px;line-height:22px;}
    .contact-from-field .wpcf7-select{width:97%;}

}
@media (min-width: 1220px){
    .uk-container {
        padding: 0;
    }
}
@media screen and (max-width: 1472px) and (min-width: 959px) {
	#qtranslate-2-chooser {
	    margin-top: 0px;
	}
	.search-image {
	    margin-top: -35px;
	}
	.custom-line-search {
	    margin-top: -37px;
	}
	.uk-search-field {
	    margin-top: -45px;
    	}
	:lang(ar).uk-search-field {
	    margin-top: -7.6em;
	}
	:lang(ar).uk-search-img {
	    margin-top: -50px;
	}
	:lang(ar).custom-line-search {
 	   margin-top: -15%;
	}
	:lang(ar) #qtranslate-2-chooser {
	    padding-bottom: 14px;
	}	
}

@media  (max-width:479px){.uk-navbar-toggle{padding-left:30px;padding-top:0px !important;padding-bottom:0px !important;}
    :lang(ar) .tm-top-a .uk-grid {margin-bottom: -30%;margin-top: -30%;}
    :lang(ar) .uk-panel.uk-panel-box.widget_text {margin-top: 0;}
    :lang(ar) .uk-grid{margin-top: 0}
    :lang(ar) /*.tm-footer*/.uk-panel.widget_text {}
    .right-text-over-banner{font-size:40px;line-height:48px;padding-bottom:30px;padding-left:30px;}
    .custom-double-quote-start{font-size:70px;padding-left:20px;padding-top:20px;}
    .left-text-over-banner{padding-left:50px;padding-right:50px;padding-top:20px;}
    .custom-double-quote-end{padding-left:50px;margin-top:0px;font-size:70px;}
    .news-letter-content{padding-left:50px;}
    .custom-newsletter-label{float:none;padding-top:0px;font-size:22px;}
    .custom-newsletter-textbox{margin-left:auto;float:none;margin-top:15px;font-size:15px;}
    .custom-newsletter-button{margin-top:15px;font-size:18px;}
    .our-clients-heading{padding-top:25px;font-size:35px;line-height:45px;}
    .uk-navbar-toggle{padding:10px;}
    .custom-line, .bottom-content-line {padding-left:35%;}
    .custom-page-title{font-size:35px;padding-top:10px;line-height:50px;margin-bottom: 10px;}
    .custom-page-line{padding-bottom:50px;}
    .custom-page-content{font-size:16px;line-height:22px;}
    .contact-from-field .wpcf7-select{width:96%;}
    .custom-home-slider{
        height: 100%;
        width: 100%;
    }
    .service-page-content.uk-panel-teaser {    
    height: 340px;    
	}
    :lang(ar).service-page-content.uk-panel-teaser {    
    height: 250px;    
	}
    .map-custom{
	padding-bottom: 40px;
	}
     :lang(ar).map-custom{
	padding-bottom: 65px;
	}
    input.uk-search-field {
        margin: 15px;
        padding-left: 0;
        width: 50% ! important;
    }
    :lang(ar) input.uk-search-field {
        margin: 15px;
        padding-left: 0;
    }
    :lang(ar) ul, ol {padding-left: 0px !important;}
    :lang(ar).site-logo img{text-align:center;padding-left: 0%; width: 100%;}

    :lang(ar).site-logo{text-align:center;padding-left: 0%; width: 100%;}

    .site-logo{text-align: center;
        padding-right: 0;
    }
    .home-page-map {
        /* padding: 0px; */
        margin-bottom: 0 !important;
        margin-top: -25px;
    }
    h2, .uk-h2{
        font-size: 25px;
    }
    h5, .uk-h5 {
        font-size: 12px;
    }
    .uk-grid {
        margin-top: 0;
    }
    .island{
        padding: 38px 6px 0 22px !important;
    }
    .sidebar-box {
        text-align: justify;
        background-color: #ffffff;
        padding-left: 22px;
        padding-top: 2%;
        padding-right: 22px;
        padding-bottom: 15%;
    }
    .home-about-company{
        margin-top: 20px;
    }
    .uk-panel.uk-panel-box.widget_text {
        margin-top: 0px;
    }
    .uk-width-medium-1-1 {
        margin-bottom: 35px;
    }
    b, strong {
        font-size: 18px;
    }
    .footer-img{
        margin-left: 46%;
    }
    :lang(ar).footer-img{
        margin-left: 46%;
    }
    .splash{
        height: 270px;
        font-size: 18px;
    }
    .splash--title {
        margin-left: 12px;
        margin-top: 60px;
        font-size: 18px;
        line-height: 0px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    :lang(ar) .splash--title{
        margin-left: 12px ! important;
        margin-top: 60px ! important;
        font-size: 18px ! important;
        line-height: 0px ! important;
        letter-spacing: 1px ! important;
        margin-bottom: 0 ! important;
    }
    .map-img{
        margin-bottom: 0 ! important;
        margin-top: 0 ! important;
    }
    .splash--subtitle {
        font-family: 'Cairo-Regular';
        font-weight: 300;
        font-size: 0.85em;
        line-height: 1.875rem;
        color:#ffffff;
        margin-left: 20px;
        margin-top: -7px;
        margin-bottom: 4px;
    }
    :lang(ar) .splash--subtitle {
        direction: rtl;
        font-family: 'Cairo-Regular' ! important;
        font-weight: 300 ! important;
        font-size: 0.85em ! important;
        line-height: 1.4rem ! important;
        color:#ffffff ! important;
        margin-left: 0px ! important;
        margin-top: -7px ! important;
        margin-bottom: 4px ! important;
    }
    :lang(ar).uk-navbar
    {
        direction: rtl;
        background-image: none !important;
        background-color: #FFF;
        margin: 0;
    }
    .map-img{
        margin-left: 10px;
    }
    .map-button {
        width: 40% ! important;
        line-height: 5px;
        font-size: 12px;
        margin-left: 12px;
        margin-top: 0px ! important;
    }
    .island h4 {
        font-size: 16px;
        color: #ffffff !important;
        margin: 0px;
        margin-bottom: 10px;
    }
    /*.island span:hover{
    color:#fff !important;
    }*/
    .island span{
    color:#ffffff !important;
    }    
    :lang(ar) .island h4 b {
    font-size: 18px;
	}
    .island h4 b {
        font-size: 16px;
        color: #fff !important;
    }
    :lang(ar) .custom-home-slider .uk-h2.uk-margin {
        margin-top: -30%;
    }
    .custom-home-slider .uk-h2.uk-margin {
        color: #466ea2;
        font-size: 33px ! important;
        font-weight: bold;
        margin-top: -40%;
        margin-left: 18px;
        text-align: center;
    }
    .custom-home-slider ul.uk-slider {
        width: 100% !important;
        min-width: 100% !important;
        margin: 0;
    }
    .tm-footer .uk-panel + .uk-panel {
        margin-top: 10px;
        line-height: 20px;
        padding: 10px;
    }
    .custom-clients{
        margin-top: 15%;
    }
    .contact-from-field .wpcf7-textarea{width:95%;padding:10px;line-height:25px;/*margin-bottom:15px; margin-top: -40px;*/}
    :lang(ar) .contact-from-field .wpcf7-textarea{width:90%;padding:10px;line-height:15px;margin-bottom:0; margin-top: 10px;}
}
@media  (max-width:667px){.right-text-over-banner{font-size:50px;line-height:55px;}
    .news-letter-content{padding-left:65px;}
    input.uk-search-field {
        margin: 0;
        padding-left: 7px;
    }
    :lang(ar) input.uk-search-field {
        margin: 0;
        padding-left: 7px;
    }
    .contact-from-field .wpcf7-select{width:93.5%;}
    .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:auto;}
    .workshop-table .wpcf7-number{width:auto !important;}
    .site-logo{padding-left: 0 ! important; padding-right: 0 ! important;text-align: center !important;}
    .uk-navbar {
        background-image: none!important;
        background-color: #FFF;
        margin: 0
    }
    .home-about-company {
        background-color: white;
        min-height: inherit;
        text-align: justify;
        padding: 20px 20px 20px 20px;
    }
    .custom-clients{
        margin-top: 0;
    }
    .uk-width-medium-1-1 {
        margin-bottom: 0px;
    }
    .home-about-company {
        margin-top: 20px;
    }
    .site-logo img {
        width: 35% !important;
        margin-top: 2%;
    }
    /*:lang(ar) .site-logo img {
        width: 70% !important;
    }*/
}
@media  (max-width:767px){
    .footer-ul{display:none;}
    .footer-logo{display:none;}
    .footer-line{display:none;}
    .footer-copyright-text{font-size:12px;margin-right: 15px;}
    .uk-hidden-medium{display:none !important;}
    .uk-visible-medium{display:block !important;margin-top: -40px !important;}
    .right-text-over-banner{padding-top:20px;padding-bottom:60px;}
    .our-clients-heading{padding-top:60px;}
    .left-text-over-banner{padding-left:80px;padding-right:80px;padding-top:40px;}
    :lang(ar) .left-text-over-banner{padding-top:50px;}
    .custom-double-quote-end{padding-left:80px;margin-top:-15px;}
    .custom-double-quote-start{padding-left:35px;padding-top:40px;}
    :lang(ar) .custom-double-quote-start{padding-top:55px}
    .tm-navbar{margin:0px;}
    .contact-from-field .wpcf7-textarea{width:90%;}
    .contact-from-field .wpcf7-select{width:93%;}
    .home-about-company {
        margin-top: 20px;
    }
    .island{
        margin-top: 0;
        padding-top: 80px !important;
    }
    .splash--title {
        margin-top: 12%;
        letter-spacing: 2px;
        line-height: 40px;
        font-size: 29px;
        color: #fff;
    }
    .uk-panel>:not(.uk-panel-title):last-child {
        margin-bottom: 0px !important;
        /*margin-top: 30px;*/
    }
    :lang(ar) .splash--title {
        letter-spacing: 2px;
        line-height: 15px;
        font-size: 28px;
        color: #fff;
        margin-top: 7%;
        margin-bottom: 20px;
    }
    .splash--subtitle {
        font-family: 'Cairo-Regular';
        font-weight: 300;
        font-size: 1.375em;
        line-height: 1.875rem;
        color: #ebebeb;
        margin-top: -10%;
        margin-bottom: 4px;
    }
    :lang(ar) .splash--subtitle {
        direction: rtl;
        font-family: 'Cairo-Regular';
        font-size: 18px;
        line-height: 1.975rem;
        color: #ebebeb;
        margin-top: -6%;
        margin-bottom: 15px;
    }

    :lang(ar).map-img {
        padding: 0px;
        margin-bottom: 8px !important;
        margin-top: 0px !important;
    }
    .custom-page-content .uk-width-1-2 {
        width: 100% !important;
    }
}
@media (max-width:959px) {.uk-slidenav-position .uk-slidenav-previous{left:5px;color: white}
    .uk-slidenav-position .uk-slidenav-next{right:5px; color: white}
    .contact-from-field .wpcf7-select{width:96%;}
    .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:89.3%;}
    .emp-degree, .emp-source, .emp-spec, .workshop-degree, .workshop-hours, #emp-leaving-reason, #emp-wage, #emp-country , #emp-job, .experience-table .wpcf7-text, #emp-attach-name, #emp-place, #workshop-place, #workshop-sub, #workshop-end-date, #emp-date, #emp-join-date, #emp-end-date, #emp-attachment-file{width:90% !important;padding:10px;border: 1px solid #008621; }
    #emp-qual {width:93.5% !important;padding:10px;border: 1px solid #008621; }
    .workshop-table .wpcf7-number{width:82% !important;}
    .experience-table .wpcf7-text{width:78% !important;}
    .contact-from-field .wpcf7-select{width:96%;}
    .home-about-company {
        margin-top: 20px;
    }
    .custom-home-slider .uk-h2.uk-margin{
        font-size: 27px;
    }
    h2, .uk-h2 {
        font-size: 22px;
        line-height: 45px;
        /* font-weight: bold;*/
        text-align: center;
    }
    ul, ol {
    padding-left: 8px;
	}
    .island{
        margin: 0px;
        position: relative;
        padding: 63px 40px 0px 36px;
        z-index: 10;
        margin-top: 0;
    }
    :lang(ar).island{
        margin: 0px;
        position: relative;
        padding: 19px 9px 0px 23px !important;
        z-index: 10;
    }
    .tm-footer{
        margin-top: -7px;
        margin-bottom: 1px;
        width: 100%;
    }
    .uk-width-1-3{
        margin-left: -33px;
        margin-bottom: -10px;
    }
    .tm-footer .uk-panel + .uk-panel {
        margin-top: 10px;
        line-height: 20px;
    }
    .uk-panel, .uk-panel:hover {
        text-decoration: none;
    }
    .uk-panel {
        display: block;
        position: relative;
    }
    .uk-grid-match > * > * {
        /*-ms-flex: none;
        -webkit-flex: none;*/
        /*box-sizing: border-box;*/
        width: 100%;
    }
    .uk-margin p {
        font-size: 28px;
        line-height: 40px;
        color: #466ea2;
        margin-top: -216px;
        margin-left: 30px;
    }
    .contact-from-field .wpcf7-select{width:96%;}
    .map-button{
        width: 25%;
        line-height: 14px;
        font-size: 11px;
        margin-left: 0;
        margin-top: 0;
    }
    .splash--title{
        margin-top: 10%;
        letter-spacing: 2px;
        line-height: 15px;
        font-size: 20px;
        color: #fff;
        margin: 0px 0px;
        padding-top: 0% ! important;
    }
    .splash--subtitle {
        font-family: 'Cairo-Regular';
        font-weight: 300;
        font-size: 1.50em ;
        line-height: 1.875rem;
        color:#ebebeb;
        /*margin-left: 42px;*/
        margin-top: 16px;
        margin-bottom:0px;
    }
    h4, .uk-h4 {
        font-size: 13px;
        text-align: center;
        margin-top: 4px;
        line-height: inherit;
        font-stretch: semi-condensed;
    }
    .footers-a {
        color: #ffffff;
        margin-top: 4.5%;
        font-family: 'Cairo-Regular';
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .splash{
        height: 350px;
    }
    .tm-footer{
        margin-top: -7px;
        margin-bottom: 1px;
        width: 100%;
    }
    .uk-width-1-3{
        margin-left: -33px;
        margin-bottom: -10px;
    }
    .tm-footer .uk-panel + .uk-panel {
        margin-top: 10px;
        line-height: 20px;
    }
    .uk-panel, .uk-panel:hover {
        text-decoration: none;
    }
    .uk-overlay {
        display: inline-block;
        position: relative;
        max-width: 100%;
        vertical-align: middle;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        margin-top: -35px;
    }
    .uk-panel {
        display: block;
        position: relative;
    }
    .uk-grid {
        margin-left: -27px;
        /*margin-top: 5%;*/
    }
    .service-page-image {
     padding-left: 0%;
	}
	:lang(ar).service-page-image 
	{
           padding-right: 0%;
	}
    .uk-margin p {
        font-size: 28px;
        line-height: 40px;
        color: #466ea2;
        margin-top: -216px;
        margin-left: 30px;
    }
    .map-img{
        margin-bottom: -8px;
        margin-top: -5px;
    }
}
@media (min-width: 1220px){
    :lang(ar).uk-grid+.uk-grid, .uk-grid-margin, .uk-grid>*>.uk-panel+.uk-panel {
        margin-top: 0px;
    }
    .uk-grid+.uk-grid, .uk-grid-margin, .uk-grid>*>.uk-panel+.uk-panel {
        margin-top: 0px;
    }
    :lang(ar).uk-grid>* {
        padding-left: 32px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1220px)  {
    .custom-tm-main-top .uk-width-medium-1-3 {
        width: 100%;
    }
}
@media only screen and (min-width:666px) and (max-width: 959px)  {
    .custom-tm-main-top .uk-width-medium-1-3 {
        width: 100%;
    }

}
@media (max-width: 959px){
    .uk-navbar-nav {
        display: none!important;
    }
}
@media (max-width:1024px){.uk-navbar-nav
{display: inherit;margin-right: 60px;margin-top: -53px;}
    .custom-line{padding-left:45%;}
    .contact-from-field .wpcf7-select{width:95%;}
    .qualification-table{width:97.4%;}
    .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:92.3%;}
    .emp-degree, .emp-source, .workshop-degree{width:94% !important;}
    .workshop-table .wpcf7-number{width:88% !important;}
    .experience-table .wpcf7-text{width:86% !important;}
    .uk-navbar-flip{width: 22% ! important; }
}
@media (max-width:1600px){
    .uk-navbar-nav{text-align:center;margin-right: 60px;margin-top: -43px;display:inherit; }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* STYLES GO HERE */
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* STYLES GO HERE */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 960px)
and (max-device-width : 1024px) {
    .uk-navbar-nav {
        float: right;
        margin-right: 170px;
        margin-top: -70px;
    }    
    .uk-navbar-flip{float:right;width: 21%;}
    .uk-visible-medium
    {
        display: none !important;
    }
}
